/*
===================================================
BASE STYLES, contains all base styles for my page.
===================================================*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eeebeb7b;
    margin: 0 auto;
    ;
    max-width: 1024px;
}

h1 .my-name {
    font-weight: bold;
    margin: 0;
    text-align: center;
}

ul {
    align-self: center;
    padding-top: 5px;
}

h2 {
    text-transform: uppercase;
    font-size: .9em;
    padding: 3rem 0;
}

h3 {
    padding: 1.5em 0;
}

.intro-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

img,
h2,
h3,
p {
    text-align: center;
    margin: auto;
}

p {
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 1.3;
    padding: 10px 0px 30px 0;
}

/*
===================================================
MAIN STYLES
===================================================*/
.main-header,
.nav {
    display: flex;
    flex-direction: column;
}

.main-header {
    padding-top: 2em;
}

.my-name {
    margin: 0;
    font-size: 1.3em;
    align-self: center;
}

.nav {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 250px;
}

.nav a {
    display: block;
    color: #000;
    background-color: white;
    border: 2px solid #eeebeb7b;
    font-size: .8rem;
    padding: 0.7em;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.nav a:hover {
    color: #0b0b0b;
    border-bottom-color: #52bab3;
}

img,
h2,
h3,
p {
    width: 90%;
}

.intro-container img {
    width: 60%;
    padding: 1em 0;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    background-color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 3em;
    width: 90%;
    border-bottom: 0.5px solid lightgray;
}

.lower-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 2em;
}

#contact {
    padding: .4em 0;
    margin: auto;
    align-self: center;
}

#name {
    margin: 1em 2em;
    padding-top: 2em;
    color: #000;
    font-size: .8rem;
    font-weight: bolder;
    text-decoration: none;
}

.lower-footer a {
    text-transform: uppercase;
}

span {
    color: slategray;
    font-weight: bold;
}

/*
===================================================
MEDIA QUERIES
===================================================*/

@media screen and (min-width:768px) {

    .nav {
        margin-top: 0;
        display: flex;
        flex-direction: row;
    }

    .nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent;
    }

    .nav li:last-child {
        margin-right: 0;
    }

    .nav a {
        color: black;
    }

    .main-header {
        height: 100px;
        margin-bottom: 2em;
    }

    .my-name {
        font-size: 1em;
    }

}

@media screen and (min-width:1024px) {
    .main-header {
        flex-direction: row;
    }

    .my-name {
        margin-right: auto;
        margin-left: 1em;

    }

    .nav {
        margin-top: 0;
        align-self: center;
        margin-right: 2rem;
    }

    .nav li {
        margin-left: .65em;
        margin-right: .65em;
    }
}