/*
===================================================
BASE STYLES, contains all base styles for my page.
===================================================*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eeebeb7b;
    margin: 0;
}

a {
    font-weight: bold;
    font-size: .5em;
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: black;
}

ul {
    align-self: center;
    padding-top: 5px;
}

h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 3rem 0;
}

h3 {
    padding: 1em 0;
}

.intro-container {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0 1rem;

}

img,
h2,
h3,
p {
    text-align: center;
    margin: 0 1em;
    width: 90%;
}

p {
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 1.3;
    padding: 10px 0px 30px 0;

}

/*
===================================================
MAIN STYLES
===================================================*/
.main-header,
.nav {
    display: flex;
    flex-direction: column;
}

.main-header {
    padding-top: 2em;
}

.nav {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 20rem;
}

.nav a {
    display: block;
    color: #000;
    background-color: white;
    border: 2px solid #eeebeb7b;
    font-size: .8rem;
    padding: 0.7em;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.my-name {
    font-size: 2.25em;
}

.intro-container img {
    width: 60%;
    padding: 1em 0;
    margin: auto;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    background-color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 3em;
    width: 90%;
    border-bottom: 0.5px solid lightgray;
}

.contact p {
    width: 70%;
    margin: auto;
}

.lower-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 2em;
}

#phone #email {
    padding: .4em 0;
    margin: auto;
    align-self: center;
}

#top,
h4 {
    margin: 1em 2em;
    color: #000;
    font-size: .8rem;
    font-weight: bolder;
    text-decoration: none;
}

.lower-footer a {
    text-transform: uppercase;
}

span {
    color: slategray;
    font-weight: bold;
}

/*
===================================================
 MEDIA QUERIES -  min-width 768px
===================================================*/

@media screen and (min-width:768px) {
    .main-header {
        height: 100px;
        margin-bottom: 2em;
    }

    .nav {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav li {
        display: inline-block;
        align-items: center;
        width: 40%;
    }

    .nav a {
        display: block;
        color: #000;
        background-color: transparent;
        border: none;
        font-size: .8rem;
        padding: 0.7em;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
    }

    .my-name {
        font-size: 1.5rem;
        margin: 1rem 0 1rem 0;
    }

    .intro-container {
        display: flex;
        flex-direction: row-reverse;
        margin: auto;
    }

    .intro-container img {
        width: 40%;
        margin: auto 2rem;
    }

    .intro-container p {
        width: 50%;
        text-align: left;
        margin: auto 2rem;
        line-height: 1.5;
    }

    .portfolio-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        background-color: white;
        margin: 0 2rem 0 2rem;
    }

    .item {
        width: 50%;
    }

    h2,
    h3,
    p {
        width: 90%;
        margin: auto;
    }
}

/*
===================================================
 MEDIA QUERIES -  min-width 1025px
===================================================*/

@media screen and (min-width:1025px) {
    .main-header {
        flex-direction: row;
        justify-content: flex-end;
        margin: 1rem 2rem;


    }

    .main-header a {
        margin-right: auto;

    }

    .nav {
        margin-top: 0;
        align-self: center;
    }

    .nav li {
        margin-left: .65em;
        margin-right: .65em;
    }

    .intro-container p {
        margin: 2rem;
        font-size: 1.4rem;
    }

    .item {
        width: 30%;
    }
}